{% extends "layout.html" %}
<!--- for removing repetitive code--->
{% block content %}

    <div class="alert alert-success" role="alert">
      Check for what type of headache do you have!
    </div>
    <section class="login py-5 bg-white">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-7">
                    <img src="https://media2.giphy.com/media/fyo9HhL0BJkDxV6rgL/giphy.gif" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 py-5">
                    <h1>HEADACHE SELF ASSESSMENT TEST</h1>
                    <form action='/result_headache' method='POST' >
                        <div class="form-check">
                            <h4>Q. Ache is in which part of head</h4>
                            <p> </p>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" value="Tension headache" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Forehead
                              <img src="C:\Users\Agras\Desktop\flask_health\templates\IMAGES\tension_headache.jpg" class="img-fluid" width="200" height="200">
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id=" flexRadioDefault1" value="hypertension">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Backside of the head
                              <img src="C:\Users\Agras\Desktop\flask_health\templates\IMAGES\hypertension.jpg" class="img-fluid" width="200" height="200">
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="tmj_disorder">
                            <label class="form-check-label" for="flexRadioDefault1">
                              In ears and cheeks
                              <img src="C:\Users\Agras\Desktop\flask_health\templates\IMAGES\tmj_disorder.jpg" class="img-fluid" width="200" height="200">
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="new_daily_persistent_headache">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Sideways
                              <img src="C:\Users\Agras\Desktop\flask_health\templates\IMAGES\new_daily.jpg" class="img-fluid" width="200" height="200">
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Migrane">
                            <label class="form-check-label" for="flexRadioDefault1">
                              On one side of the head
                              <img src="C:\Users\Agras\Desktop\flask_health\templates\IMAGES\migrain.jpg" class="img-fluid" width="200" height="200">
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Cluster">
                            <label class="form-check-label" for="flexRadioDefault1">
                              in the eyes
                              <img src="C:\Users\Agras\Desktop\flask_health\templates\IMAGES\cluster.jpg" class="img-fluid" width="200" height="200">
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Sinus">
                            <label class="form-check-label" for="flexRadioDefault1">
                              near the eye area
                              <img src="C:\Users\Agras\Desktop\flask_health\templates\IMAGES\sinus.jpg" class="img-fluid" width="200" height="200">
                            </label>
                          </div>
                          <p> </p>
                          <input type="Submit" class="btn btn-success">
                        <div class="form-row py-1 pt-5">
                    </form>
                </div>
            </div>
        </div>
    </section>
   

{% endblock content%}