{% extends "layout.html" %}
<!--- for removing repetitive code--->
{% block content %}
<div class="container-md">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.youandlungcancer.com/en-lc/thumbnails/you-and-lung-cancer/images@animations-card$jpg" class="rounded mx-auto d-block" width="1200" height="700" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 style="color:black"><strong>AIR ASSESSMENT TEST</strong></h2>
          <p style="color:black"><h3 style="color:black; background-color:lightskyblue;">Enter Air Quality parameters to check Lung Cancer Population Incidence Ratio</h3>
          </p>
          <p>
            <a class="btn btn-dark" role="button" aria-current="page" href="/lung_cancer">Take test</a>
          </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock content%}

	
