
{% extends "layout.html" %}
<!--- for removing repetitive code--->
{% block content %}

<h1>Cure for migraine</h1>
<p>
    <br>At an individual level one must </br>
   <br> 1. stay in calm environment </br>
   <br>2. sleep well</br>
   <br>3. eat wisely</br>
   <br>4. excercise regularly</br>
   <br>5. visit a doctor if pain prevails for a longer duration</br>
</p>
<h1> Remedies</h1>
<a class="btn btn-secondary disabled" role="button" href="https://www.webmd.com/migraines-headaches/ss/slideshow-home-remedies-for-migraines">Click here to get remedies</a>
{% endblock content%}


